* {
  padding: 0px;
  margin: 0px;
}
.cal {
  width: 310px;
  height: 54%;
  position: absolute;
  top: 25%;
  left: 44%;
  background-color: grey;
  border-radius: 4px;
  border: 2px solid darkgrey;
}
.text {
  width: 305px;
  height: 65px;
  position: absolute;
  top: 24%;
  left: 44.05%;
  border-radius: 4px;
  border: 4px solid grey;
  font-size: 45px;
  font-family: sans-serif;
  box-shadow: 0.5rem 1rem 5rem 0.5rem rgba(0, 0, 0, 0.4);
  background-color: rgba(138, 230, 138, 0.966);
}
.btn {
  width: 310px;
  height: 40%;
  position: absolute;
  top: 36%;
  left: 44%;
  display: block;
  margin-top: 22px;
  margin-left: 2px;
  /* background-color: blue; */
  box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.4);
}
button {
  width: 60px;
  height: 60px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(175, 171, 162, 0.3);
  border: 0.1px solid #cac6c6;
  text-decoration: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 1);
  color: rgb(255 255 255);
  transition: 0.1s;
}
button:hover {
  cursor: pointer;
  background-color: rgba(175, 171, 162, 0.6);
  box-shadow: none;
}
#clr {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 34%;
  left: 57.8%;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  margin: 5px;
  border: 0.1px solid #cac6c6;
}
.h1 {
  text-align: center;
  margin-top: 100px;
  color: rgb(44, 99, 23);
}
